<div class="wrap">
    <label for='checkbox' (change)='handleCheckbox($event)' class="checkbox detail detail-btn">
        <span class='checkbox_btn'>
            <span class="checkbox_icon fas fa-minus"></span>
        </span>
        <input class='checkbox_input-default' id='checkbox' type="checkbox">
    </label>
    <button class="detail detail-btn">
        <p class="detail_name">Name <span class="detail_icon fas fa-chevron-up"></span></p>
    </button>
    <p class="detail">Title</p>
    <button class="detail detail-btn">
        <p class="detail_name">Set <span class="detail_icon detail_icon-grey fas fa-caret-down"></span></p>
    </button>
    <p class="detail">Version</p>
    <p class="detail">Last Updated</p>
    <p class="detail">Updated By</p>
    <p class="detail">Markup</p>
    <p class="detail">Issue</p>
    <p class="detail">RFI</p>
    <p class="detail">Status</p>
    <p class="detail">File Name</p>
    <p class="detail">Number</p>
    <span class="fas fa-cog"></span>
</div>